<div class="masthead">
    
  <div class="bottom-right">
    <div class="container">
      <div align="center">
        <h3 class="masthead-title">
            <img class="nsf responsive-img" src="{{ site.baseurl }}/files/face.png"> <br>
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a><br>
            <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </div>
  </div>
  <div class="bottom-left">
    <div class="container">
      <a href="https://www.linkedin.com/in/paulosell/"><i class="svg-icon linkedin"></i></a>
      <a href="https://github.com/paulosell/"><i class="svg-icon github"></i></a>
      <a href="mailto:sellpaulof@gmail.com"><i class="svg-icon email"></i></a>
    </div>
  </div>
</div>